<!DOCTYPE html>
	<head>
		<title>Saboteadores en Linea</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="css/Plantilla-Practica1.css"/>
	</head>

	<body>
		<div class="logo"> 

			<a title="titulo" href="HTML_Usuario-Practica1.ejs"><img src="img/Logo.png" alt="titulo"></a>
			
			<div class="texto">
				<img class="imagen" src="img/Conectado.png"> 
				<p class="conectado"><%= usuario%></p>
			</div>

		</div>

		<div class="menu">
				
				<ul class="lista">
					
					<li>
						<a href="HTML_Bienvenido-Practica1.html"> Desconectar </a>
					</li>
					
					<li>
						<a href="HTML_UnirseAPartida-Practica1.ejs"> Unirse a partida </a>
					</li>

					<li>				
						<a href="HTML_CrearPartida-Practica1.ejs"> Crear partida </a>
					</li>
				
				</ul></div>

		<div class="contenido">

			<h1>Partida: <%= nombre %></h1>
			
			<p>Creada por: <%= creador %></p>
			<p>Jugadores: <%= jugadoers %></p>
			<p>Turno de: <%= turno %></p>
			<p>Turnos restantes: <%= turnosRestantes %></p>

			<h2>Tablero</h2>

			<table>
				
			<% for(){ %>

				<tr>

				<% for(){ %>
					
					<td><img class="imagen" src=<%  %>></td>

				<% } %>

				</tr>

			<% } %>

			</table>

		</div>


	</body>