<!DOCTYPE html>
	<head>
		<title>Saboteadores en Linea</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="css/Plantilla-Practica1.css"/>
		<link rel="stylesheet" href="css/Tablero-Practica1.css"/>

	</head>

	<body>
		<div class="logo"> 

			<a title="titulo" href="HTML_Usuario-Practica1.ejs"><img src="img/Logo.png" alt="titulo"></a>
			
			<div class="texto">
				<% if(foto === "null") { %> 
				<img class="imagen" src="img/Conectado.png">
				<% } else { %>
				<img class="imagen" src=<%= foto%>>
				<% } %> 
				
				<p class="conectado"><%= usuario%></p>
			</div>

		</div>

		<div class="menu">
				
				<ul class="lista">
					
					<li>
						<a href="/desconectar"> Desconectar </a>
					</li>
					
					<li>
						<a href="HTML_UnirseAPartida-Practica1.ejs"> Unirse a partida </a>
					</li>

					<li>				
						<a href="HTML_CrearPartida-Practica1.ejs"> Crear partida </a>
					</li>
				
				</ul></div>

		<div class="contenido">

				<h1>Partida: <%= partida %></h1>
                <% if(ganador !== null) { %> 
		<div class="ganador">
			<img src="img/winner.png">
			  <p> El rol <%= ganador %> ha ganado </p>
		</div>
		<% } %>

                <% if(puesta === "false") { %> 
                <p class="incorrect"> <img src="img/error.png" alt="titulo">La carta no se puede colocar en esa posicion</p>
		<% } %>
                <% if(Rol === "buscador") { %>
                <p>Tu rol es el de buscador, tu objetivo es encontrar el oro escondido en uno de los finales antes de que se agoten los turnos</p>
                <% } else { %>
                <p>Tu rol es el de saboteador, tu objetivo es evitar que los buscadores encuentren el oro</p>
                <% } %>
				
	        <div class="tablero">

			<h2>Tablero</h2>

			<table>
				
			<% for(var i=0; i<7; i++){ %>

				<tr>

				<% for(var j=0; j<7; j++){ %>

					<% if( tablero[i][j] === undefined){ %>
					<td class= "celda"></td>
					<% } else { %>
						<% if( tablero[i][j].ID_Carta < 4 && Rol === "buscador" && tablero[i][j].Descubierta === 0 && ganador === null){ 
						tablero[i][j].ID_Carta = 4;
						tablero[i][j].URL = "img/DNK.png";
						 } %>
							<td class ="celda"><a title="carta" href="/LeerDatosCarta?ID=<%= tablero[i][j].ID_Carta %>&partida=<%= partida %>&fila=<%= i %>&columna=<%= j %>"><img src=<%= tablero[i][j].URL %>></a></td>
					<% } %>

				<% } %>

				</tr>

			<% } %>

			</table>
			</div>

			<div class="jugadores">
			
	                        <h2>Jugadores que se han unido: </h2>
	                        <p>El jugador que tiene el turno está señalado</p>
	                        <table class= "jugadores">
	                        <tr>

	                        <th>
	                        Foto
	                        </th>
	                        <th>
	                        Nombre
	                        </th>
	                        <th>
	                        Rol
	                        </th>
	                        <th>
	                        Pico
	                        </th>

	                        </tr>
	                        
	                        
	                            <% JugadoresUnidos.forEach(function(user){ %>
	                            <tr>
	                            
		                            <td>
		                                <% if(user.Foto === "null") { %> 
		                                    <img class="imagen" src="img/Conectado.png">
		                                    <% } else { %>
		                                    <img class="imagen" src=<%= user.Foto%>>
		                                    <% } %> 
		                            </td>
		                            
		                            <% if(user.Nombre_Usuario === turno) { %>
		                            	<td class="turno">
		                            <% } else { %>
		                            	<td>
		                            <% } %>
		                                    <p><%= user.Nombre_Usuario%></p>
		                            </td>
		                            <% if(user.Nombre_Usuario === turno) { %>
		                           	 <td class="turno">
		                            <% } else { %>
		                           	 <td>
		                            <% } %>
		                                    <p><%= user.Rol%></p>
		                            </td>
		                            <td>
		                            <% if(user.Pico === 0) { %> 
		                                    <img class="imagen" src="img/Pick.png">
		                                    <% } else { %>
		                                    <img class="imagen" src="img/Pick-broken.png">
		                                    <% } %> 
		                            </td>
	                           	</tr>
	                           
	                            <% }); %>
	                             
	                        </table>
	        </div>
			<p class="clear"></p>
			
			<% if(mano !== null) { %>
				<h2>Tu mano</h2>

				<table class ="mano">
				<tr>

				<% mano.forEach(function(carta){ %>

						
						<td>
						<% if(usuario === turno ) { %> 
							<a title="carta" href="/elegircarta?ID=<%= carta.ID_Carta %>&partida=<%= partida %>">
						<img class ="cartamano" src=<%= carta.URL %>></a>
						<% } else { %>
						<img class ="cartamano" src=<%= carta.URL %>>
						<% } %>
						</td>
				<% }); %>
				</tr>
				</table>
				
			<% } %>

			
			
	        <div class="datos">
				<h2>Datos de la partida</h2>
				<p>Creada por: <%= creador %></p>
				<p>Turno de: <%= turno %></p>
				<p>Turnos restantes: <%= turnosRestantes %></p>
			</div>

			<div class="comentarios">
				<h2> Comentarios de la partida </h2>
				<table>
					<tr>
						<td>
						<% if(foto === "null") { %> 
							<img class="imagen" src="img/Conectado.png">
							<% } else { %>
							<img class="imagen" src=<%= foto%>>
							<% } %> 
							
							<p><%= usuario%></p>
						</td>
						<td class="comentario">
							<pre> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada, neque nec lobortis convallis, metus elit fringilla justo, quis luctus felis mauris ac orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed et metus vel risus malesuada dictum. Phasellus id erat nec massa consequat cursus ac eu tortor. Proin at tempor libero. Duis vulputate velit erat. Donec elementum diam quis tempor elementum. Cras pellentesque ullamcorper lacus quis euismod. Aenean mauris arcu, tristique vel condimentum vel, consequat vitae arcu. Morbi nec varius sapien. Nulla dignissim maximus nisl sed volutpat.

Nulla fringilla sit amet dolor in ultricies. Nunc quis augue quis diam placerat laoreet quis id lorem. Pellentesque vel neque velit. Praesent faucibus sollicitudin lacus sit amet laoreet. Quisque dolor sapien, venenatis non sollicitudin ac, venenatis eu neque. Sed aliquam nisi at tellus pretium convallis. Duis eu justo turpis. Morbi mollis urna purus, eu dictum nunc viverra ut. Nunc viverra eros scelerisque consectetur rhoncus. Quisque viverra placerat tincidunt. Morbi in erat imperdiet, tincidunt nisl sit amet, scelerisque ex. Cras arcu ante, efficitur in justo ac, mattis fermentum dui. Phasellus id libero nisi.

Nullam ultricies vestibulum ex vitae suscipit. Sed sit amet tellus eu ipsum tempus varius vitae ut mauris. Sed volutpat ullamcorper augue, et pellentesque purus tempor tincidunt. Vivamus a nisi blandit, scelerisque ex in, malesuada erat. In dictum nulla eget ante hendrerit condimentum. Donec cursus augue dapibus mi convallis, quis feugiat tortor rhoncus. Phasellus vitae nunc facilisis, hendrerit mi quis, luctus risus. Nullam nisl enim, ullamcorper vel lobortis a, lacinia vitae lectus. Aenean finibus nulla odio, eu tincidunt magna efficitur vitae.

Nam fringilla tellus nec semper blandit. Integer consequat nulla justo, a vehicula dolor aliquet a. Sed vel congue nunc, et congue nunc. Vivamus at nisl eu felis posuere aliquet. Nullam ullamcorper velit at tempus faucibus. Quisque et porta leo, vitae luctus erat. Curabitur blandit mi mattis nisi semper, in commodo tortor convallis. Vivamus quis fringilla risus, id sollicitudin ligula. Cras molestie sapien at efficitur maximus. Cras rhoncus tincidunt libero, non eleifend erat imperdiet ut. Suspendisse placerat semper felis in laoreet. Nullam efficitur vehicula condimentum.

Aliquam luctus turpis a neque tincidunt, ultricies blandit felis laoreet. Cras hendrerit at magna ut vulputate. Mauris placerat hendrerit libero eu ultrices. Quisque id scelerisque turpis. Maecenas ullamcorper vitae arcu id auctor. Nulla a leo metus. Suspendisse potenti. Duis tincidunt enim sit amet ante pellentesque mollis.</pre>
						</td>
					</tr>
					<tr>
						<td>
						boton enviar
						</td>
						<td>
						texto
						</td>
					</tr>
				</table>
			</div>

		</div>


	</body>